/* Page-specific styling */

.repos {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .repos li {
        margin-bottom: 4px;
        padding-bottom: 4px;
        border-bottom: 1px solid #D0D0D0;
    }

        .repos li:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }

    .repos .stars, .repos .forks {
        display: inline-block;
        width: 40%;
        max-width: 75px;
    }

    .repos .stars {
        color: #e28b00;
    }

    .repos .forks {
        color: #00b009;
    }

    .repos div {
        font-weight: bold;
    }

    .repos button {
        margin-top: 4px;
        float: right;
        border: none;
        background: none;
        padding:5px 5px 0 5px;
    }

.files {
    list-style: none;
    padding: 0;
    margin: 0;
}
.files li {
    padding:4px;
    border-bottom: 1px solid #EEEEEE;
}
.files li a {
    cursor: pointer;
    text-decoration:none;
    font-size:15px;
}
.files li a:hover {
    text-decoration:underline;
}
pre.prettyprint {
    border:none;
}